{% extends "default/panel/layout.html" %}

{% block page_info %}
<li>
   <b>Usuário</b>
</li>
<li>
   <a class="active">Deletar</a>
</li>
{% endblock %}

{% block content %}
  <div class="bg-white">
     <!-- START PANEL -->
     <div class="panel panel-transparent">
        <div class="panel-heading">
           <div class="panel-title">
              Usuário
           </div>
           <div class="row">
              <!-- BASIC DATA -->
              <div class="col-lg-6 col-md-6 ">
                 <!-- START PANEL -->
                 <div class="panel panel-transparent">
                    <div class="panel-body">
                       <div class="row clearfix">
                          <div class="col-sm-6">
                             <form action="" method="post">
                                {% csrf_token %}
                                <p>Tem certesa que deseja deletar o usuário "{{ object }}"?</p>
                                <input type="submit" value="Confirm" />
                             </form>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- END PANEL -->
              </div>
              <!-- END BASIC DATA -->
           </div>
        </div>
     </div>
     <!-- END PANEL -->
  </div>
{% endblock %}