{% extends "default/panel/layout.html" %} 
{% load staticfiles %}

{% block css %}
 
{% endblock %}

{% block page_info %}
    <li>
      <a class="active">Funcionário</a>
    </li>
{% endblock %}

{% block content %}
<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title fs-16">
      Funcionário
    </div>
    <div class="btn-group pull-right m-b-10">
      <a class="btn btn-default" href="/framework/dashboard/employee/register/" type="button">Cadastrar</a>
    </div>
    <div class="pull-right">
      <div class="col-xs-12">
        <input type="text" id="search-table" class="form-control pull-right" placeholder="Buscar">
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
   <table class="table table-hover table-condensed table-responsive" id="tableWithSearch">
        <thead>
          <tr>
             <th style="width:1%">
                <button class="btn">
                <i class="pg-trash"></i>
                </button>
             </th>
             <th style="width:20%">Nome</th>
             <th style="width:20%">Nickname</th>
             <th style="width:15%">Opções</th>
          </tr>
       </thead>
       <tbody>
          {% for funcionario in object_list %}
          <tr>
             <td class="v-align-middle">
                <div class="checkbox ">
                   <input type="checkbox" value="1" id="checkbox1">
                   <label for="checkbox1"></label>
                </div>
             </td>
             <td class="v-align-middle ">
                <p>{{funcionario.usuario.nomecompleto}}</p>
             </td>
             <td class="v-align-middle">
                <p>{{funcionario.nickname}}</p>
             </td>                       
             <td class="v-align-middle">
                <a href="/framework/dashboard/employee/detail/{{funcionario.pk}}">
                <i class="pg-search"></i>
                </a>
                <a href="/framework/dashboard/employee/edit/{{funcionario.pk}}">
                <i class="pg-settings"></i>
                </a>
                {% if request.user.id_usuario != usuario.id_usuario %}
                <a href="/framework/dashboard/employee/delete/{{funcionario.usuario.pk}}">
                <i class="pg-eraser"></i>
                </a>
                {% endif %}
             </td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
  
{% endblock %}