{% extends "registration/base_registration.html" %}
{%load staticfiles%}
{%block content%}

<h2>Esqueceu a senha?</h2>
<p class="m-t-15">Por favor preencha o campo abaixo com seu e-mail e enviaremos instruções para a criação de uma nova senha.</p>
<form id="form-register" class="p-t-15" method="POST">{% csrf_token %}
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group form-group-default">
				<label>E-mail</label>
				<input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="" class="form-control" required>
			</div>
		</div>
	</div>
	<button class="btn btn-default btn-cons m-t-10 pull-right" type="submit">Resetar</button>
</form>

{% endblock %}