{% extends "registration/base_registration.html" %}
{%load staticfiles%}
{%block content%}
				{% if validlink %}

				<h2>Nova senha</h2>

				<p>Por favor digite sua nova senha duas vezes, para que possamos verificar se você preencheu corretamente.</p>

				<form action="" method="post">{% csrf_token %}
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-group-default">
								<label>Nova Senha</label>
								<input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="" class="form-control" required>
							</div>
							{% for error in form.new_password1.errors %}
							<p class="text-danger"><smal>{{error}}</smal></p>
							{%endfor%}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-group-default">
								<label>Confirme a Senha</label>
								<input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="" class="form-control" required>
							</div>
							{% for error in form.new_password2.errors %}
							<p class="text-danger"><smal>{{error}}</smal></p>
							{%endfor%}
						</div>
					</div>
					<button class="btn btn-default btn-cons m-t-10 m-r-0 pull-right" type="submit">Mudar Senha</button>
				</form>

				{% else %}

				<h2>Link inválido</h2>

				<p>O link para definição da senha está inválido, possivelmente porque já foi usado. Por favor tente conseguir outro link.</p>
				<p>Você pode voltar para a <a href="/login">página de login</a> aqui.</p>
				{% endif %}
			
{%endblock%}