{% extends "default/auth/login.html" %} 
{% block form %}
	<form class="p-t-15" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- FORM CONTROL -->
		<div class="form-group form-group-default">
            <label>
            	{{ form.email.label_tag }}
            </label>
            <div class="controls">
        	    {{ form.email }}
            </div>
        </div>
		<div class="form-group form-group-default">
            <label>
            	{{ form.password.label_tag }}
            </label>
            <div class="controls">
        	    {{ form.password }}
            </div>
        </div>
        <!-- END FORM CONTROL -->
		<input class="btn btn-primary btn-cons m-t-10" type="submit" value="Entrar" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}