{% extends "default/auth/layout.html" %} 

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="login-wrapper ">

       <!-- LOGIN BACKGROUND PIC WRAPPER -->
       <div class="bg-pic">

          <!-- BACKGROUND PIC -->
          <img src="{% static 'img/default/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" data-src="{% static 'img/default/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" data-src-retina="{% static 'img/default/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg' %}" alt="" class="lazy">
          <!-- END BACKGROUND PIC -->
          
       </div>
       <!-- END LOGIN BACKGROUND PIC WRAPPER -->

       <!-- LOGIN RIGHT CONTAINER -->
       <div class="login-container bg-white">
          <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

             {% if PROJECT_VALID %}
                {% if PROJECT_DATA.logo %}
                    <img src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" alt="logo" data-src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" data-src-retina="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" width="100" height="70">
                {% else %}
                    <h1><b>{{PROJECT_DATA.nome}}</b></h1>
                {% endif %}
             {% else %}
                <img src="{% static 'img/default/logo.png' %}" alt="logo" data-src="{% static 'img/default/logo.png' %}" data-src-retina="{% static 'img/default/logo_2x.png' %}" width="78" height="22">
             {% endif %}
             <p class="p-t-35">Entre com a sua conta</p>

             <!-- START Login Form -->
             {% block form %}{% endblock %}
             <!--END Login Form-->
             
          </div>
          <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <p>
              <b>
                Powered by <a href="http://www.3ysoftwarehouse.com.br">3Y Software House</a>
              </b>
            </p>
          </div>
       </div>
       <!-- END LOGIN RIGHT CONTAINER -->

    </div>
{% endblock %}

