<!-- LIST GROUP -->
<div class="list-view-group-container">
   <!-- HEADER -->
   <div class="list-view-group-header text-uppercase">
      Calendar
   </div>
   <!-- END HEADER -->
   <ul>
      <!-- ITEM -->
      <li class="alert-list">
         <!-- ANIMATION -->
         <a href="javascript:;" class="" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
            <p class="col-xs-height col-middle">
               <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
            </p>
            <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
               <span class="text-master">David Nester Birthday</span>
            </p>
            <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
               <span class="text-warning">Today <br></span>
               <span class="text-master">All Day</span>
            </p>
         </a>
         <!-- END ANIMATION -->
      </li>
      <!-- END ITEM -->
   </ul>
</div>
<!-- END LIST GROUP -->