<div class="navbar-inner">
   <!-- ALERT CONTROLER -->
   <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
   <i class="pg-more"></i>
   </a>
   <!-- END ALERT CONTROLER -->
   <div class="view-heading">
      Notications
   </div>
   <!-- ALERT CONTROLER -->
   <a href="#" class="inline action p-r-10 pull-right link text-master">
   <i class="pg-search"></i>
   </a>
   <!-- ALERT END CONTROLER -->
</div>