{% load staticfiles %}

{% if PROJECT_VALID %}
    {% if PROJECT_DATA.logo %}
        <img src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" alt="logo" data-src="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" data-src-retina="{{MEDIA_URL}}{{PROJECT_DATA.logo}}" width="100" height="50">
    {% else %}
        <h1 style="color:white;"><b>{{PROJECT_DATA.nome}}</b></h1>
    {% endif %}
{% else %}
    <img src="{% static 'img/default/logo.png' %}" alt="logo" data-src="{% static 'img/default/logo.png' %}" data-src-retina="{% static 'img/default/logo_2x.png' %}" width="78" height="22">
{% endif %}

<div class="sidebar-header-controls">
   <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
   </button>
   <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
   </button>
</div>

