<ul class="menu-items">

   <!-- MENU ITEM -->
   <li class="m-t-30">
      <a href="/framework/dashboard/home" class="detailed">
      <span class="title">Home</span>
      </a>
      <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
   </li>
   <!-- END MENU ITEM -->

   <!-- MENU ITEM -->
   <li class="">
      <a href="javascript:;">
         <span class="title">Gerência</span>
         <span class="arrow"></span>
      </a>

      <span class="icon-thumbnail"><i class="pg-grid"></i></span>

      <!-- SECOND LEVEL -->
      <ul class="sub-menu">

         <!-- MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/user/list/">Usuários</a>
            <span class="icon-thumbnail">US</span>
         </li>
         <!-- END MENU ITEM -->

         <!-- SECOND MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/company/list/">Empresas</a>
            <span class="icon-thumbnail">EP</span>
         </li>
         <!-- END MENU ITEM -->         
                  
      </ul>
      <!-- END SECOND LEVEL -->

   </li>
   <!-- END MENU ITEM -->

   <!-- MENU ITEM -->
   <li class="">
      <a href="javascript:;">
         <span class="title">Subclasses</span>
         <span class="arrow"></span>
      </a>

      <span class="icon-thumbnail"><i class="pg-grid"></i></span>

      <!-- SECOND LEVEL -->
      <ul class="sub-menu">

         <!-- MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/funcionario/list/">Funcionário</a>
            <span class="icon-thumbnail">FU</span>
         </li>
         <!-- END MENU ITEM -->

         <!-- SECOND MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/statup/list/">Statup</a>
            <span class="icon-thumbnail">ST</span>
         </li>
         <!-- END MENU ITEM -->         
                  
      </ul>
      <!-- END SECOND LEVEL -->

   </li>
   <!-- END MENU ITEM -->

</ul>
<div class="clearfix"></div>

