{% load staticfiles %}
<span>
<strong>suggestions :</strong>
</span>
<span id="overlay-suggestions"></span>
<br>
<div class="search-results m-t-40">
   <p class="bold">Pages Search Results</p>
   <div class="row">
      <div class="col-md-6">
         <!-- ITEM -->
         <div class="">
            <!-- THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
               <div>
                  <img width="50" height="50" src="{% static 'img/default/avatar.jpg' %}" data-src="{% static 'img/default/avatar.jpg' %}" data-src-retina="{% static 'img/default/avatar2x.jpg' %}" alt="">
               </div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
               <p class="hint-text">via john smith</p>
            </div>
         </div>
         <!-- END ITEM -->
         <!-- ITEM -->
         <div class="">
            <!-- THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
               <div>T</div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
               <p class="hint-text">via pages</p>
            </div>
         </div>
         <!-- END ITEM -->
         <!-- ITEM -->
         <div class="">
            <!-- THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
               <div><i class="fa fa-headphones large-text "></i>
               </div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
               <p class="hint-text">via pagesmix</p>
            </div>
         </div>
         <!-- END ITEM -->
      </div>
      <div class="col-md-6">
         <!-- ITEM -->
         <div class="">
            <!--  THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
               <div><i class="fa fa-facebook large-text "></i>
               </div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
               <p class="hint-text">via facebook</p>
            </div>
         </div>
         <!-- END ITEM -->
         <!-- ITEM -->
         <div class="">
            <!-- THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
               <div><i class="fa fa-twitter large-text "></i>
               </div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
               <p class="hint-text">via twitter</p>
            </div>
         </div>
         <!-- END ITEM-->
         <!-- BEGIN ITEM -->
         <div class="">
            <!-- BEGIN THUMBNAIL -->
            <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
               <div><i class="fa fa-google-plus large-text "></i>
               </div>
            </div>
            <!-- END THUMBNAIL -->
            <div class="p-l-10 inline p-t-5">
               <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
               <p class="hint-text">via google plus</p>
            </div>
         </div>
         <!-- END ITEM -->
      </div>
   </div>
</div>